# Ignored project files.
# These usually were uploaded at some point,
# but hidden either because of various reasons,
# ranging from them being basically empty, discontinued,
# horrible breaking some things, etc.
# If you want to see the files in actions, check the commit history of this file.

Katekyou Hitman REBORN!/
Katekyou Hitman REBORN! [BD]/
