# Show-specific
*EPISODES/

# Video, Audio & Picture files
*.264
*.aac
*.ac3
*.bmp
*.d2v
*.flac
*.h264
*.jpeg
*.jpg
*.log
*.m2ts
*.m2v
*.m4a
*.mka
*.mks
*.mkv
*.mp3
*.mp4
*.opus
*.png
*.tif
*.ts
*.undefined
*.vorbis
*.usm
*.w64
*.wav
*.webm
*.webp


# VapourSynth files
*.bookmarks
*.ffindex
*.index
*.lwi


# Aegisub files (those get uploaded to the group's specific repositories) & Fonts
*.ass
*.autosave
*.mocha
*.otf
*.srt
*.ttc
*.ttf


# BDMV/DVD files
*.bdjo
*.bdmv
*.bup
*.cci
*.cer
*.clpi
*.cmap
*.cue
*.dat
*.db
*.ifo
*.inf
*.ini
*.iso
*.jar
*.lst
*.m2v
*.mpls
*.sup
*.tbl
*.vob
*.xml


# Misc
*.xz
*.7z
*.avs
*.bat
*.cbz
*.exe
*.html
*.lgd
*.MDS
*.nfo
*.parts
*.rar
*.torrent
*.txt
*.xcf
*.zip
*comp.vpy
*fix.vpy
*patch.vpy
*sakuga*.vpy
*sakuga.vpy
*wraw.vpy


# Utility Scripts
auto-CRC.py
auto-audiocutter.py
clean-enc-dir.py
clean_dir.py
encode_audio.py
extract_audio.py
generate_keyframes.py
hardsub.py
remux.py
rename.py
QC.py


# Symlinks with [Vol.#] at the end
*.1]
*.2]
*.3]
*.4]
*.5]
*.6]
*.7]
*.8]
*.9]
*.10]
*.11]
*.12]
*.13]
*.14]
*.15]
*.16]
*.17]
*.18]
*.19]
*.20]
*.21]



# Exceptions
!settings


# Exceptions to the exceptions
*.lnk
